html {
  width: 100vw;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283845;
  img {
    width: clamp(3.5rem, 10vw, 12rem);
    height: auto;
    border-radius: 0.5em;
  }
}
h1,
h2 {
  margin: clamp(0.4rem, 1.6rem, 2.3rem);
  font-size: clamp(1rem, 1.28rem, 1.5rem);

  color: white;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #283845;
  margin-top: 50px;
  color: white;
  width: 100vw;
  word-wrap: break-word;
  overflow-wrap: break-word;

  section,
  address {
    margin: 0.6rem;
    h3 {
      font-size: clamp(1.1rem, 1.3rem, 1.5rem);

      color: white;

      font-style: normal;
    }

    li {
      font-style: normal;
      font-size: clamp(0.8rem, 1rem, 1.2rem);
    }
  }
}
body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, white, #488072);
  margin: 0;
  font-family: "Times New Roman";

  strong,
  em {
    color: #a7ed08;
    text-shadow:
      -0.025rem -0.025rem 0#d42222,
      0.025rem -0.025rem 0#d42222,
      -0.025rem 0.025rem 0#d42222,
      0.025rem 0.025rem 0#d42222;
  }

  label input,
  select {
    display: block;
    margin: 5px;
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }

  .Blue {
    color: rgb(147, 147, 238);
    text-shadow: none;
  }
  .Green {
    color: rgb(52, 206, 52);
    text-shadow: none;
  }
  .Yellow {
    color: yellow;
    text-shadow: none;
  }
  .Pink {
    color: pink;
    text-shadow: none;
  }
  .Red {
    color: red;
    text-shadow: none;
  }
}
.number {
  all: initial;
  color: #ebb28c;
  text-shadow:
    -0.025rem -0.025rem 0#ff0000,
    0.025rem -0.025rem 0#ff0000,
    -0.025rem 0.025rem 0#ff0000,
    0.025rem 0.025rem 0#ff0000;
}

li {
  list-style-type: none;
}

.grid-data-input {
  display: flex;
  justify-content: space-around;
}

.top-divs {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem);
  border-radius: 20px;
  width: 50%;
  height: auto;
  box-shadow: 2px 2px 4px #283845;
  background-color: #283845;
  color: white;
  margin: 1rem clamp(0.5rem, 3vw, 3rem) 0 clamp(1rem, 4vw, 3rem);
  font-size: clamp(1rem, 2vw, 1.5rem);

  p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-top: 4px;
  }
  input {
    width: 90%;
    padding: 2px;
    border-radius: 10px;
    border: solid 1px #283845;
    height: auto;
    font-size: clamp(1rem, 2vw, 1rem);
  }
  select {
    width: 90%;
    padding: 2px;
    border-radius: 10px;
    border: solid 1px #283845;
    height: auto;
    font-size: clamp(1rem, 2vw, 1rem);
  }
}

#statistics-form {
  margin: 1rem clamp(0rem, 1vw, 3rem) 0 clamp(0rem, 1vw, 3rem);
  height: 100%;

  .dropdowns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1px;
    padding: 1px;
    grid-gap: clamp(0.66rem, 1vw, 1.5rem);
    .statistics {
      width: clamp(8vw, 14vw, 50vw);
      font-size: clamp(0.66rem, 2vw, 1rem);
      border-radius: clamp(1rem, 2vw, 1rem);
    }
    .monster-stat {
      padding: 1px;
      font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    }
  }
}

button {
  margin: 3px;
  padding: 3px;
  border-radius: 20px;
  border: solid 1px white;
  background-color: transparent;
  width: 6rem;
  transition: 0.2s;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgba(254, 254, 254, 0.282);
  cursor: pointer;
}

p {
  font-size: 1rem;
  margin: 0.2rem;
}

.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;

  div {
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #283845;
    background-color: #283845;
    color: white;
    margin-top: 20px;

    h2 {
      font-size: 1.56rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    p {
      font-size: 17px;
    }
  }
}

@media (width >= 1023px) {
  .top-divs {
    width: clamp(20vw, 30vw, 50vw);
    height: auto;
    input {
      width: 100%;
    }
    select {
      width: 100%;
    }
  }
  #statistics-form {
    .dropdowns {
      .statistics {
        width: clamp(8vw, 14vw, 35vw);
        font-size: clamp(0.66rem, 1.5vw, 1.5rem);
        border-radius: clamp(1rem, 2vw, 1.5rem);
      }
    }
  }
}
@media (width <= 930px) {
  .top-divs {
    width: 80%;
    height: auto;
    padding: 10px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.25rem;
    width: 90%;
    padding-left: 1rem;
    div {
      width: 80%;
    }
  }
  #statistics-form {
    .dropdowns {
      .statistics {
        width: clamp(8vw, 20vw, 50vw);
        font-size: clamp(0.5rem, 2.7vw, 1rem);
        border-radius: clamp(1rem, 2vw, 1rem);
      }
    }
  }
}

footer {
  h1,
  h2 {
    font-size: clamp(1rem, 1.28rem, 1.5rem);

    color: white;
  }
  li,
  p {
    font-size: clamp(0.8rem, 1rem, 1.2rem);
  }
}
header {
  h1,
  h2 {
    font-size: clamp(0.76rem, 1.28rem, 1.5rem);

    color: white;
  }
}

@media (width <= 700px) {
  header {
    flex-direction: column;
    height: auto;
    h1,
    h2 {
      display: block;

      margin-block-start: 0em;
      margin-block-end: 0em;
      margin: clamp(0.7rem, 0.7rem, 0.7rem);
    }
  }
  footer {
    li,
    p {
      font-size: clamp(0.8rem, 1rem, 1.2rem);
      padding: 0.2rem;
    }
  }
  .top-divs {
    width: 80%;
    height: auto;
  }
  .grid-data-input {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
  .cards {
    margin: 3rem 1rem 0px 0rem;
    div {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        display: none;
      }
    }
  }
  .top-divs {
    border-radius: 20px;

    height: auto;
    box-shadow: 2px 2px 4px #283845;
    background-color: #283845;
    color: white;
    margin: auto;

    p {
      font-size: 18px;
      margin-top: 4px;
    }
  }
}

@media (width <= 370px) {
  header {
    flex-direction: row;

    h1,
    h2 {
      font-size: clamp(0.4rem, 1rem, 1.5rem);

      color: white;
    }
  }
  .cards {
    grid-template-columns: 1fr;
  }
  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .info {
      grid-area: 2/1/3/3;
    }
  }
}
a {
  color: rgb(233, 223, 223);
  text-decoration-line: none;
}
a:hover {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}
